{% extends "base.html" %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        .time { font-size: 0.8em; margin-top: 2px; }
        .comment { border: 1px solid #eee; padding: 4px; margin-bottom: 12px; }
        .body { font-size: 1.1em; margin-top: 2px; }
        .messages { margin-left: 20px; }
        .title { font-size: 14px; margin-top: 20px; border-bottom: 1px solid #ccc;color: #000; padding-left: 4px; }

        #addc { width: 508px; background: #f5f5f5; padding: 3px; padding-bottom: 8px;
            border-bottom: 1px dotted #aaa;
            }
        #cform { background: #f5f5f5; width: 506px; padding: 4px; padding-bottom: 0px; }
        #submit { text-align: right; margin-right: 50px; width: 500px; margin-top: -5px; }

        ul { margin-bottom: 30px; }
    </style>
    <div class="main">

        <!-- Messages  -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Post  -->
        <ul>
            <div class="title">{{ post.title }}</div>
            <ul>
                <div class="time">{{ post.created }}</div>
                <div class="body">{{ post.body }}</div>
            </ul>

            <!-- Comments  -->
            {% if comments %}
                <p>Comments:</p>
            {% endif %}

            <form action="" method="POST">{% csrf_token %}
            {% for comment in comments %}
                <div class="comment">
                    <div class="time">{{ comment.created }} | {{ comment.author }}</div>
                    <div class="body">{{ comment.body|linebreaks }}</div>
                    {% if user.is_staff %}
                        <input type="checkbox" name="delete" value="{{ comment.pk }}">
                        <a href="">delete</a>
                    {% endif %}
                </div>
            {% endfor %}

            {% if user.is_staff and comments %}
                <p><input type="submit" value="Delete all selected"></p>
                <br />
            {% endif %}
            </form>

            <div id="addc">Mete un comentario</div><hr>
            <!-- Comment form  -->
            <form action="" method="POST">
            
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Autor" name='author' aria-describedby="basic-addon1"/>
                    <textarea class="form-control" placeholder="Contenido" name='content' aria-describedby="basic-addon1"></textarea>
</div>
                <div id="submit"><input type="submit" value="Submit"></div>
            
            </form>
        </ul>

    </div>

{% endblock %}
